<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DR Auctioneer - Auctions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<h1>Auctions</h1>
<table style="width:100%" border="1">
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Current price</th>
        <th>End date</th>
        <th>User</th>
    </tr>
    <tr th:each="auction : ${auctions}">
        <td>
            <img th:src="${auction.mainPicturePath}"
                 width="100"
                 alt="No image available"/>
        </td>
        <td th:text="${auction.title}"></td>
        <td th:text="${auction.currentPrice} + ' ' + ${auction.currency}"></td>
        <td th:text="${#temporals.format(auction.endDate, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:text="${auction.userInformation.login}"></td>
        <td>
            <form th:action="@{/auction/} + ${auction.title}" method="get">
                <button type="submit">View</button>
            </form>
        </td>
    </tr>
</table>

<form th:action="@{/new_auction}" method="get">
    <button type="submit">Add auction</button>
</form>

</body>
</html>