<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DR Auctioneer - New Auction</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/static/css/input_image_label.css}"/>

    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/static/css/add_auction.css}"/>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="/">
                        <span class="glyphicon glyphicon-home" aria-hidden="false" href="/"></span>
                        Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br/>
<br/>
<br/>

<!-- Page Content -->
<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <h2>Create new auction</h2>
            <form action="#" th:action="@{/add_auction}" th:object="${auction}" method="post">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" th:field="*{title}" class="form-control" id="title"/>
                    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger"
                         style="margin-top: 10px"><span class="input-group-addon"><i class="fa fa-user fa"
                                                                                     aria-hidden="true"></i></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea th:field="*{description}" class="form-control" id="description" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="starting_price">Starting price:</label>
                    <input type="text" th:field="*{startingPriceAmount}" class="form-control" id="starting_price"/>
                    <div th:if="${#fields.hasErrors('startingPriceAmount')}" th:errors="*{startingPriceAmount}"
                         class="alert alert-danger" style="margin-top: 10px"></div>
                </div>
                <div class="form-group">
                    <label for="starting_price_currency">Starting price currency:</label>
                    <select th:field="*{currency}" id="starting_price_currency" class="form-control">
                        <option th:each="state : ${T(edu.uz.dr.auctioneer.model.auction.Currency).values()}"
                                th:value="${state}"
                                th:text="${state}">
                        </option>
                    </select>
                </div>

                <label for="starting_price_currency">Picture:</label>
                <!-- image-preview-filename input [CUT FROM HERE]-->
                <div class="input-group image-preview">
                    <input type="text" class="form-control image-preview-filename" disabled="disabled"/>
                    <!-- don't give a name === doesn't send on POST/GET -->
                    <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"/> Clear
                    </button>
                        <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input">
                        <span class="glyphicon glyphicon-folder-open"/>
                        <span class="image-preview-input-title">Browse</span>
                        <input type="file" th:field="*{mainPicturePath}" accept="image/png, image/jpeg"
                               name="input-file-preview"/>
                    </div>
                </span>
                </div><!-- /input-group image-preview [TO HERE]-->

                <div class="form-group">
                    <label for="end_date">End date:</label>
                    <input type="text" th:field="*{endDate}" placeholder="dd-MM-yyyy hh:mm" class="form-control"
                           id="end_date"/>
                    <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="alert alert-danger"
                         style="margin-top: 10px"></div>
                </div>

                <div class="form-group">
                    <label for="user">User:</label>
                    <input type="text" th:field="*{user}" class="form-control" id="user"/>
                    <div th:if="${#fields.hasErrors('user')}" th:errors="*{user}" class="alert alert-danger"
                         style="margin-top: 10px"></div>
                </div>
                <div class="form-group">
                    <label for="user_description">User description:</label>
                    <textarea th:field="*{userDescription}" class="form-control" id="user_description"
                              rows="2"></textarea>
                </div>

                <div class="form-group ">
                    <a th:href="@{auctions}" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Submit</a>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="container">
    <hr/>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; 2016. All rights reserved</p>
            </div>
        </div>
    </footer>
</div>
<!-- jQuery -->
<script th:src="@{/webjars/jquery/1.11.1/jquery.js}"
        type="text/javascript"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"
        type="text/javascript"></script>

<script th:src="@{/static/js/input_image_label.js}"
        type="text/javascript"></script>
</body>
</html>